name: Pull request

on:
  pull_request:
    paths-ignore:
    - '**.md'
    - '**.yml'

jobs:
  draft-release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.14.x
    - name: Prepare PR_TAG
      run: |
        PR_TAG="$(git describe --tags --abbrev=0)-${{ github.event.number }}"
        echo "::set-env name=PR_TAG::$PR_TAG"
    - name: Create temporary tag
      run: git tag  ${{ env.PR_TAG }}
    - name: Release
      uses: goreleaser/goreleaser-action@v2
      with:
        version: latest
        args: release -f .pr.yml --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Remove temporary tag
      run: git tag --delete ${{ env.PR_TAG }}

