name: Code quality

on:
  push:
permissions:
  contents: read
  id-token: write

jobs:
  code-coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x

      - name: Run tests
        run: go test -coverprofile=coverage.out -covermode=atomic ./...

      - uses: qltysh/qlty-action/coverage@v2
        with:
          oidc: true
          files: coverage.out
          strip-prefix: github.com/wormi4ok/evernote2md/
          verbose: true
